{% extends "layouts/main-layout.html" %}

{% block title %} {{ super() }} - Main Page {% endblock %}

{% block left %}
  <h1>Left</h1>
  <ul>
    <li>left item #1</li>
    <li>left item #2</li>
    <li>left item #3</li>
    <li>what?</li>
    <li>really?</li>
    <li>really?????</li>
  </ul>
{% endblock %}

{% block right %}
  <h1>Right</h1>
  <ul>
    <li>right item #1</li>
    <li>right item #2</li>
    <li>right item #3</li>
    <li>right item #4</li>
    <li>right item #5</li>
  </ul>
{% endblock %}
